SOAPService/src/main/resources/reservation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Reservation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="trainId" type="xs:string"/>
                <xs:element name="classId" type="xs:string"/>
                <xs:element name="seatsAmount" type="xs:int"/>
                <xs:element name="reservationDate" type="xs:string"/>
                <xs:element name="price" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
