SOAPService/src/main/resources/train.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://trainbooking.fr/train-booking-soap-service" elementFormDefault="qualified">

    <xs:element name="SearchRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="from" type="xs:string"/>
                <xs:element name="to" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SearchResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="trainList" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>